@model IEnumerable<DBModels.DTO.GroupDTO>
@{ViewBag.Title = "Groups";}
<div>
    <h1>Our groups</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr>
                        <td>@group.Name</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = group.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = group.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = group.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("AddGroupButton")
    </div>
</div>

