@model IEnumerable<BLL.DTO.StudentDTO>
@{ViewBag.Title = "Students";}
<div>
    <h1>Our students</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th>Group ID</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Age</td>
                        <td>@item.GroupId</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Add new student", "Add")
    </div>
</div>